<div class="toast-container top-0 start-50 translate-middle-x fixed-top" style="top: 20px !important;">
    <div class="toast align-items-center text-bg-success border-0" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-center js-toastBody"></div>
    </div>
    <div class="toast align-items-center text-bg-danger border-0" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-center js-toastBody"></div>
    </div>
</div>
