{% extends 'base.html' %}

{% block title %}{{ deck.name }}{% endblock %}

{% block main %}
    <h1 class="d-flex align-items-center mb-4">{{ deck.name }} <span class="badge bg-secondary ms-4 js-priceBadge">$0</span></h1>
    {% if request.args.message %}
        <div class="alert alert-success mt-4" role="alert">{{ request.args.message }}</div>
    {% endif %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="mainboard-tab" data-bs-toggle="tab" data-bs-target="#mainboard-tab-pane" type="button" role="tab" aria-controls="mainboard-tab-pane" aria-selected="true">Mainboard</button>
        </li>
        {% if deck.sideboard|length > 0 %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="sideboard-tab" data-bs-toggle="tab" data-bs-target="#sideboard-tab-pane" type="button" role="tab" aria-controls="sideboard-tab-pane" aria-selected="false">Sideboard</button>
            </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lands-tab" data-bs-toggle="tab" data-bs-target="#lands-tab-pane" type="button" role="tab" aria-controls="lands-tab-pane" aria-selected="false">Basic Lands</button>
        </li>
        {% if deck.mainboard|length > 0 %}
            <li class="nav-item">
                <a href="{{ url_for('decks.gather_deck', id=deck.id) }}" class="nav-link" target="_blank">Gather</a>
            </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab" aria-controls="settings-tab-pane" aria-selected="false">Settings</button>
        </li>
    </ul>
    <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="mainboard-tab-pane" role="tabpanel" aria-labelledby="mainboard-tab" tabindex="0">
            {% if deck.mainboard|length > 0 %}
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="sticky-top pt-3">
                            <img src="https://api.scryfall.com/cards/{{ deck.mainboard[0].card.scryfall_id }}?format=image" class="img-fluid rounded-4" alt="{{ deck.mainboard[0].card.name }}" id="mainboardCardImage">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 mt-4 mt-md-0">
                        <div class="table-responsive h-100">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="sticky-top">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Set ID</th>
                                        <th scope="col">Rarity</th>
                                        <th scope="col">Foil</th>
                                        <th scope="col">Color Identity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Options</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for assoc in deck.mainboard %}
                                        <tr data-scryfall-id="{{ assoc.card.scryfall_id }}">
                                            <td>
                                                <a href="{{ url_for('cards.card', id=assoc.card.id) }}" target="_blank">{{ assoc.card.name }}</a>
                                                {% if assoc.is_commander %}
                                                    <span class="badge bg-primary ms-1">Commander</span>
                                                {% endif %} 
                                            </td>
                                            <td>{{ assoc.card.set_id }}</td>
                                            <td class="text-capitalize">{{ assoc.card.rarity|default('N/A', 'true') }}</td>
                                            <td class="text-capitalize js-foil">{{ assoc.card.foil|default('regular', 'true') }}</td>
                                            <td>
                                                {% if assoc.card.color_identity %}
                                                    <div class="d-flex gap-1">
                                                        {% for color in assoc.card.color_identity.split(',') %}
                                                            {% if color == 'W' %}
                                                                <span class="color-icon color-icon-white"></span>
                                                            {% elif color == 'U' %}
                                                                <span class="color-icon color-icon-blue"></span>
                                                            {% elif color == 'B' %}
                                                                <span class="color-icon color-icon-black"></span>
                                                            {% elif color == 'R' %}
                                                                <span class="color-icon color-icon-red"></span>
                                                            {% elif color == 'G' %}
                                                                <span class="color-icon color-icon-green"></span>
                                                            {% elif color == 'UN' %}
                                                                <span class="color-icon color-icon-colorless"></span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="js-price">Loading...</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ url_for('decks.move_card_board', deck_id=deck.id, assoc_id=assoc.id, board='s') }}" class="dropdown-item">
                                                                <i class="bi-arrow-right"></i> Sideboard
                                                            </a>
                                                            {% if assoc.is_commander %}
                                                                <a href="{{ url_for('decks.unset_commander_for_deck', deck_id=deck.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                    <i class="bi-person"></i> Unset Commander
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ url_for('decks.set_commander_for_deck', deck_id=deck.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                    <i class="bi-person-fill"></i> Set Commander
                                                                </a>
                                                            {% endif %}
                                                            <a href="{{ url_for('decks.remove_card_from_deck', deck_id=deck.id, card_id=assoc.card.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                <i class="bi-trash-fill"></i> Remove
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No cards found for mainboard. <a href="{{ url_for('search.search') }}">Find Some</a></p>
            {% endif %}
        </div>
        {% if deck.sideboard|length > 0 %}
            <div class="tab-pane fade" id="sideboard-tab-pane" role="tabpanel" aria-labelledby="sideboard-tab" tabindex="0">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="sticky-top pt-3">
                            <img src="https://api.scryfall.com/cards/{{ deck.sideboard[0].card.scryfall_id }}?format=image" class="img-fluid rounded-4" alt="{{ deck.sideboard[0].card.name }}" id="sideboardCardImage">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 mt-4 mt-md-0">
                        <div class="table-responsive h-100">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="sticky-top">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Set ID</th>
                                        <th scope="col">Rarity</th>
                                        <th scope="col">Foil</th>
                                        <th scope="col">Color Identity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Options</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for assoc in deck.sideboard %}
                                        <tr data-scryfall-id="{{ assoc.card.scryfall_id }}">
                                            <td>
                                                <a href="{{ url_for('cards.card', id=assoc.card.id) }}" target="_blank">{{ assoc.card.name }}</a>
                                                {% if assoc.is_commander %}
                                                    <span class="badge bg-primary ms-1">Commander</span>
                                                {% endif %} 
                                            </td>
                                            <td>{{ assoc.card.set_id }}</td>
                                            <td class="text-capitalize">{{ assoc.card.rarity|default('N/A', 'true') }}</td>
                                            <td class="text-capitalize js-foil">{{ assoc.card.foil|default('regular', 'true') }}</td>
                                            <td>
                                                {% if assoc.card.color_identity %}
                                                    <div class="d-flex gap-1">
                                                        {% for color in assoc.card.color_identity.split(',') %}
                                                            {% if color == 'W' %}
                                                                <span class="color-icon color-icon-white"></span>
                                                            {% elif color == 'U' %}
                                                                <span class="color-icon color-icon-blue"></span>
                                                            {% elif color == 'B' %}
                                                                <span class="color-icon color-icon-black"></span>
                                                            {% elif color == 'R' %}
                                                                <span class="color-icon color-icon-red"></span>
                                                            {% elif color == 'G' %}
                                                                <span class="color-icon color-icon-green"></span>
                                                            {% elif color == 'UN' %}
                                                                <span class="color-icon color-icon-colorless"></span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="js-price">Loading...</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ url_for('decks.move_card_board', deck_id=deck.id, assoc_id=assoc.id, board='m') }}" class="dropdown-item">
                                                                <i class="bi-arrow-left"></i> Mainboard
                                                            </a>
                                                            {% if assoc.is_commander %}
                                                                <a href="{{ url_for('decks.unset_commander_for_deck', deck_id=deck.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                    <i class="bi-person"></i> Unset Commander
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ url_for('decks.set_commander_for_deck', deck_id=deck.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                    <i class="bi-person-fill"></i> Set Commander
                                                                </a>
                                                            {% endif %}
                                                            <a href="{{ url_for('decks.remove_card_from_deck', deck_id=deck.id, card_id=assoc.card.id, assoc_id=assoc.id) }}" class="dropdown-item">
                                                                <i class="bi-trash-fill"></i> Remove
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="tab-pane fade" id="lands-tab-pane" role="tabpanel" aria-labelledby="lands-tab" tabindex="0">
            <form action="{{ url_for('decks.deck', id=deck.id) }}" method="post">
                <div class="row g-2 my-4">
                    <div class="col-6 col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="plains" name="plains" placeholder="Plains" value="{{ deck.plains|default('', true) }}">
                            <label for="plains">Plains</label>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="island" name="island" placeholder="Island" value="{{ deck.island|default('', true) }}">
                            <label for="island">Island</label>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="swamp" name="swamp" placeholder="Swamp" value="{{ deck.swamp|default('', true) }}">
                            <label for="swamp">Swamp</label>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="mountain" name="mountain" placeholder="Mountain" value="{{ deck.mountain|default('', true) }}">
                            <label for="mountain">Mountain</label>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="forest" name="forest" placeholder="Forest" value="{{ deck.forest|default('', true) }}">
                            <label for="forest">Forest</label>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <button type="submit" class="btn btn-primary w-100 h-100">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Deck</button>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Deck</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete {{ deck.name }}?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{{ url_for('decks.delete_deck', deck_id=deck.id) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <script src="{{ url_for('static', filename='js/deck.js') }}"></script>
{% endblock %}
