{% extends 'base.html' %}

{% block title %}Import Cards{% endblock %}

{% block main %}
    <h1>Import Cards</h1>
    {% if request.args.error %}
        <div class="alert alert-danger mt-3" role="alert">{{ request.args.error }}</div>
    {% elif request.args.success %}
        <div class="alert alert-success mt-3" role="alert">{{ request.args.success }}</div>
    {% endif %}
    <p>Cards should be formatted using Moxfield syntax like <code>1 Yuma, Proud Protector (OTC) 4</code> or <code>1 Kirri, Talented Sprout (OTC) 7 *F*</code>. Basic lands will be skipped over.</p>
    <form action="{{ url_for('cards.import_cards') }}" method="post">
        <div class="mb-3">
            <textarea class="form-control" placeholder="Enter card list" aria-label="Card List" name="cards" rows="15"></textarea>
        </div>
        <div class="mb-3">
            <label for="deck" class="form-label">Create deck from imported cards (optional)</label>
            <input type="text" class="form-control" id="deck" name="deck" placeholder="Deck name">
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
{% endblock %}
