{% extends 'base.html' %}

{% block title %}{{ card.details.name }}{% endblock %}

{% block main %}
    {% if request.args.error %}
        <div class="alert alert-danger" role="alert">{{ request.args.error }}</div>
    {% elif request.args.message %}
        <div class="alert alert-success" role="alert">{{ request.args.message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="sticky-top pt-3">
                <img src="https://api.scryfall.com/cards/{{ cards[0].details.scryfall_id }}?format=image" class="img-fluid rounded-4" alt="{{ card.details.name }}" id="cardImage">
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="table-responsive h-100">
                <table class="table table-striped table-bordered table-hover mt-3">
                    <thead class="sticky-top">
                        <tr>
                            <th scope="col">Set ID</th>
                            <th scope="col">Owned</th>
                            <th scope="col">Available</th>
                            <th scope="col">Rarity</th>
                            <th scope="col">Foil</th>
                            <th scope="col">Collector Number</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add to Mainboard</th>
                            <th scope="col">Add to Sideboard</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for card in cards %}
                            <tr class="{{ 'table-danger' if card.decks|length >= card.quantity else 'table-success' }}" data-scryfall-id="{{ card.details.scryfall_id }}">
                                <td>{{ card.details.set_id }}</td>
                                <td>
                                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#quantityModal{{ card.id }}">{{ card.quantity }}</button>
                                    <div class="js-quantityModal modal fade" id="quantityModal{{ card.id }}" tabindex="-1" aria-labelledby="quantityModal{{ card.id }}Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="quantityModal{{ card.id }}Label">Edit Quantity</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group mb-3">
                                                        <label for="quantityInput" class="input-group-text">Quantity</label>
                                                        <input class="js-quantityInput form-control" type="number" value="{{ card.quantity }}">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="button" data-bs-dismiss="modal" data-link="{{ url_for('api_cards.edit_card_quantity', card_id=card.id) }}" class="js-quantityButton btn btn-primary">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ url_for('cards.card_decks', card_id=card.id) }}">{{ card.quantity - card.decks|length }}</a>
                                </td>
                                <td class="text-capitalize">{{ card.details.rarity|default('N/A', 'true') }}</td>
                                <td class="text-capitalize js-foil">{{ card.foil|default('regular', 'true') }}</td>
                                <td>{{ card.details.collector_number|default('N/A', 'true') }}</td>
                                <td class="js-price">Loading...</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Mainboard
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for deck in decks %}
                                                <li>
                                                    <button type="button" class="js-addButton dropdown-item" data-link="{{ url_for('api_decks.add_card_to_deck', deck_id=deck.id) }}" data-card="{{ card.id }}" data-board="m">
                                                        {{ deck.name }}
                                                    </button>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sideboard
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for deck in decks %}
                                                <li>
                                                    <button type="button" class="js-addButton dropdown-item" data-link="{{ url_for('api_decks.add_card_to_deck', deck_id=deck.id) }}" data-card="{{ card.id }}" data-board="s">
                                                        {{ deck.name }}
                                                    </button>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-link js-deleteButton" data-link="{{ url_for('api_cards.delete_card') }}" data-card="{{ card.id }}" data-bs-toggle="tooltip" data-bs-title="Delete Card">
                                        <i class="bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "components/toast.html" %}
    <script src="{{ url_for('static', filename='js/card.js') }}"></script>
{% endblock %}
