{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block main %}
    <h1>Search</h1>
    <form class="mt-4" action="{{ url_for('search.results') }}" method="post">
        <div class="input-group mb-3">
            <label for="nameInput" class="input-group-text">Name</label>
            <input class="form-control" name="name" id="nameInput" autocomplete="off" placeholder="Enter a name...">
        </div>
        <div class="input-group mb-3">
            <label for="typeDatalist" class="input-group-text">Type</label>
            <input class="form-control" list="typeDatalistOptions" id="typeDatalist" name="type" placeholder="Type to search...">
            <datalist id="typeDatalistOptions">
                <option value="Legendary Creature">
                <option value="Creature">
                <option value="Instant">
                <option value="Sorcery">
                <option value="Artifact">
                <option value="Enchantment">
                <option value="Planeswalker">
                <option value="Land">
                <option value="Battle">
            </datalist>
        </div>
        <div class="input-group mb-3">
            <label for="textInput" class="input-group-text">Text</label>
            <input class="form-control" name="text" id="textInput" autocomplete="off" placeholder="Enter some card text...">
        </div>
        <div class="input-group mb-3">
            <label for="setDatalist" class="input-group-text">Set</label>
            <input class="form-control" list="setOptions" id="setDatalist" name="set" placeholder="Type to search...">
            <datalist id="setOptions">
                {% for set in sets %}
                    <option value="{{ set.set_id }}">
                {% endfor %}
            </datalist>
        </div>
        <div class="input-group mb-3">
            <label for="raritySelect" class="input-group-text">Rarity</label>
            <select class="form-select" aria-label="Rarity" name="rarity" id="raritySelect">
                <option value="" selected>Choose a rarity...</option>
                <option value="mythic">Mythic</option>
                <option value="rare">Rare</option>
                <option value="uncommon">Uncommon</option>
                <option value="common">Common</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="w" id="whiteColor" name="color">
                <label class="form-check-label color-icon color-icon-white" for="whiteColor">
                    White
                </label>
            </div>
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="u" id="blueColor" name="color">
                <label class="form-check-label color-icon color-icon-blue" for="blueColor">
                    Blue
                </label>
            </div>
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="b" id="blackColor" name="color">
                <label class="form-check-label color-icon color-icon-black" for="blackColor">
                    Black
                </label>
            </div>
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="r" id="redColor" name="color">
                <label class="form-check-label color-icon color-icon-red" for="redColor">
                    Red
                </label>
            </div>
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="g" id="greenColor" name="color">
                <label class="form-check-label color-icon color-icon-green" for="greenColor">
                    Green
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="un" id="uncoloredColor" name="color">
                <label class="form-check-label color-icon color-icon-colorless" for="uncoloredColor">
                    Uncolored
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}
