{% extends 'include/base.html' %}

{% block title %}{{ card.name }}{% endblock %}

{% block main %}
    {% if request.args.message %}
        <div class="alert alert-success" role="alert">{{ request.args.message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-3">
            <div class="sticky-top pt-3">
                <img src="https://api.scryfall.com/cards/{{ cards[0].scryfall_id }}?format=image" class="img-fluid rounded-4" alt="{{ card.name }}" id="cardImage">
            </div>
        </div>
        <div class="col-9">
            <table class="table table-striped table-bordered table-hover mt-3">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col">Set ID</th>
                        <th scope="col">Owned</th>
                        <th scope="col">Available</th>
                        <th scope="col">Rarity</th>
                        <th scope="col">Foil</th>
                        <th scope="col">Collector Number</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add to Deck</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for card in cards %}
                        <tr class="{{ 'table-danger' if card.decks|length >= card.quantity else 'table-success' }}" data-scryfall-id="{{ card.scryfall_id }}">
                            <td>{{ card.set_id }}</td>
                            <td>{{ card.quantity }}</td>
                            <td>{{ card.quantity - card.decks|length }}</td>
                            <td class="text-capitalize">{{ card.rarity|default('N/A', 'true') }}</td>
                            <td class="text-capitalize js-foil">{{ card.foil|default('regular', 'true') }}</td>
                            <td>{{ card.collector_number|default('N/A', 'true') }}</td>
                            <td class="js-price">Loading...</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Deck
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for deck in decks %}
                                            <li>
                                                <a class="dropdown-item" href="{{ url_for('add_card_to_deck', deck_id=deck.id, card_id=card.id) }}">{{ deck.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Change Image to Hovered Row -->
    <script defer>
        const cardImageEl = document.querySelector('#cardImage');
        const rows = document.querySelectorAll('[data-scryfall-id]');
        rows.forEach(row => {
            row.addEventListener('mouseover', () => {
                cardImageEl.src = `https://api.scryfall.com/cards/${row.dataset.scryfallId}?format=image`;
            });
        });
    </script>
    <!-- Live Price Loading -->
    <script defer>
        rows.forEach(row => {
            fetch(`https://api.scryfall.com/cards/${row.dataset.scryfallId}`)
                .then(res => res.json())
                .then(data => {
                    const priceEl = row.querySelector('.js-price');
                    const foilEl = row.querySelector('.js-foil');
                    if (foilEl.innerText == 'Regular' && data?.prices?.usd) {
                        priceEl.innerText = `$${data['prices']['usd']}`;
                    } else if (data?.prices?.usd_foil) {
                        priceEl.innerText = `$${data['prices']['usd_foil']}`;
                    } else if (data?.prices?.usd_etched) {
                        priceEl.innerText = `$${data['prices']['usd_etched']}`;
                    }
                });
        });
    </script>
{% endblock %}
