{% extends 'include/base.html' %}

{% block title %}Decks{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center gap-2">
        <h1>Decks</h1>
        <a href="/decks/add" class="btn btn-primary">Add Deck</a>
    </div>
    {% if request.args.message %}
        <div class="alert alert-success" role="alert">{{ request.args.message }}</div>
    {% endif %}
    {% if decks|length > 0 %}
        <table class="table table-striped table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Mainboard</th>
                    <th scope="col">Sideboard</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for deck in decks %}
                    <tr>
                        <td><a href="{{ url_for('deck', id=deck.id) }}">{{ deck.name }}</a></td>
                        <td>{{ deck.mainboard|length + deck.plains|default(0, true) + deck.island|default(0, true) + deck.swamp|default(0, true) + deck.mountain|default(0, true) + deck.forest|default(0, true) }}</td>
                        <td>{{ deck.sideboard|length }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('delete_deck', deck_id=deck.id) }}" data-bs-toggle="tooltip" data-bs-title="Delete Deck">
                                <i class="bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No decks found. <a href="/decks/add">Add Your First One</a></p>
    {% endif %}
{% endblock %}
